<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tillo.rtc.mapper.TalkRecordMapper" >
  <resultMap id="BaseResultMap" type="com.tillo.rtc.model.TalkRecord" >
    <id column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="client_id" property="clientId" jdbcType="INTEGER" />
    <result column="client_state" property="clientState" jdbcType="VARCHAR" />
    <result column="call_time" property="callTime" jdbcType="TIMESTAMP" />
    <result column="stop_time" property="stopTime" jdbcType="TIMESTAMP" />
    <result column="room_state" property="roomState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    room_id, client_id, client_state, call_time, stop_time, room_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from talk_record
    where room_id = #{roomId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from talk_record
    where room_id = #{roomId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tillo.rtc.model.TalkRecord" >
    insert into talk_record (room_id, client_id, client_state, 
      call_time, stop_time, room_state
      )
    values (#{roomId,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, #{clientState,jdbcType=VARCHAR}, 
      #{callTime,jdbcType=TIMESTAMP}, #{stopTime,jdbcType=TIMESTAMP}, #{roomState,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tillo.rtc.model.TalkRecord" >
    insert into talk_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="clientState != null" >
        client_state,
      </if>
      <if test="callTime != null" >
        call_time,
      </if>
      <if test="stopTime != null" >
        stop_time,
      </if>
      <if test="roomState != null" >
        room_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="clientState != null" >
        #{clientState,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null" >
        #{callTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomState != null" >
        #{roomState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tillo.rtc.model.TalkRecord" >
    update talk_record
    <set >
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="clientState != null" >
        client_state = #{clientState,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null" >
        call_time = #{callTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        stop_time = #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomState != null" >
        room_state = #{roomState,jdbcType=VARCHAR},
      </if>
    </set>
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tillo.rtc.model.TalkRecord" >
    update talk_record
    set client_id = #{clientId,jdbcType=INTEGER},
      client_state = #{clientState,jdbcType=VARCHAR},
      call_time = #{callTime,jdbcType=TIMESTAMP},
      stop_time = #{stopTime,jdbcType=TIMESTAMP},
      room_state = #{roomState,jdbcType=VARCHAR}
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
</mapper>